{% extends "emails/base.email.html.twig" %}

{% block title %}
<h1>Usuario Activado </h1>
{% endblock %}

{% block body %}
<h2>Recuerde que debe cambiar la contraseña</h2>
<div><label>Id:</label>{{user.id}}</div>
<div><label>Nombre:</label>{{user.nombre}}</div>
<div><label>Apellido:</label>{{user.apellido}}</div>
<div><label>Activado:</label>{{user.estado.createdAt|date('d/m/Y H:i:s')}}</div>

{% endblock %}