{% extends "emails/base.email.html.twig" %}

{% block title %}
<h1>Solicitud de Recupero de Contraseña </h1>
{% endblock %}

{% block body %}
<p> Se inició el proceso de recupero de contraseña </p>

<p> Se ha generado una nueva contraseña, <strong>{{password}}</strong> para el usuario <strong>{{user.getUserIdentifier}}</strong></p>

<p> Recuerde que debe cambiarla una vez ingresado, no va a poder realizar otra acción dentro del sistema</p>

{% endblock %}