{% extends "emails/base.email.html.twig" %}

{% block title %}
<h1>Solicitud de Recupero de Contrase単a </h1>
{% endblock %}

{% block body %}
<p> Se a registrado un ingreso de solicitud para iniciar el proceso de recupero de contrase単a </p>

<p> Si no realizo el pedido, verifque su contrae単a y recomendamos poner una contrase単a segura</p>

<p> En caso de haberlo solicitado, haga click en el siguiente enlace para confirmar el pedido <a href="{{url}}" target="_blank">Inicio de Recupero</a>

{% endblock %}